In [66]:
import pandas as pd
import numpy as np

# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [79]:
df = pd.read_csv('demo01.csv')
df.info()
## Não há missings na base de dados
## Há bastantes variáveis do tipo object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [75]:
df['mau'].value_counts(normalize=True)

mau
False    0.976577
True     0.023423
Name: proportion, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [76]:
## Aqui crio um dicionário para cada variável contendo o tipo da variável e a quantidade de cateogiras de cada um, criando um DataFrame transposto.
categorias = {}
for i in df:
    categorias[i] = [df[i].nunique(), df[i].dtype]
                     
categorias = pd.DataFrame(categorias).transpose()
categorias.columns = ['qtd_categorias', 'tipo']
categorias

                      qtd_categorias     tipo
sexo                               2   object
posse_de_veiculo                   2   object
posse_de_imovel                    2   object
qtd_filhos                         8    int64
tipo_renda                         5   object
educacao                           5   object
estado_civil                       5   object
tipo_residencia                    6   object
idade                           5298  float64
tempo_emprego                   3005  float64
possui_celular                     1    int64
possui_fone_comercial              2    int64
possui_fone                        2    int64
possui_email                       2    int64
qt_pessoas_residencia              9  float64
mau                                2     bool

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [71]:
## Verificando quais variáveis irei aplicar '.map' e quais vou aplicar '.get_dummies'
print(df['sexo'].unique())
print(df['posse_de_veiculo'].unique())
print(df['posse_de_imovel'].unique())
print(df['tipo_renda'].unique())
print(df['educacao'].unique())
print(df['estado_civil'].unique())
print(df['tipo_residencia'].unique())
print(df['educacao'].unique())

['M' 'F']
['Y' 'N']
['Y' 'N']
['Working' 'Commercial associate' 'State servant' 'Pensioner' 'Student']
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
['Married' 'Single / not married' 'Civil marriage' 'Widow' 'Separated']
['House / apartment' 'Rented apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']
['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']

In [80]:
## Aplicando '.map' nas variáveis que possuem 2 variações.
df['sexo'] = df['sexo'].map({'M': 0, 'F': 1})
df['posse_de_veiculo'] = df['posse_de_veiculo'].map({'N': 0, 'Y': 1})
df['posse_de_imovel'] = df['posse_de_imovel'].map({'N': 0, 'Y': 1})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  int64
 1   posse_de_veiculo       16650 non-null  int64
 2   posse_de_imovel        16650 non-null  int64
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(8), object(4)
memory usage: 1.9+ MB

In [81]:
## Criando dummies para as demais variáveis.
df_encoded = pd.get_dummies(df, columns=['tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'educacao'], drop_first=True)
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   sexo                                    16650 non-null  int64
 1   posse_de_veiculo                        16650 non-null  int64
 2   posse_de_imovel                         16650 non-null  int64
 3   qtd_filhos                              16650 non-null  int64
 4   idade                                   16650 non-null  float64
 5   tempo_emprego                           16650 non-null  float64
 6   possui_celular                          16650 non-null  int64
 7   possui_fone_comercial                   16650 non-null  int64
 8   possui_fone                             16650 non-null  int64
 9   possui_email                            16650 non-null  int64
 10  qt_pessoas_residencia                   16650 non-null  float64
 11  mau                                     16650 non-null  bool
 12  tipo_renda_Pensioner                    16650 non-null  bool
 13  tipo_renda_State servant                16650 non-null  bool
 14  tipo_renda_Student                      16650 non-null  bool
 15  tipo_renda_Working                      16650 non-null  bool
 16  educacao_Higher education               16650 non-null  bool
 17  educacao_Incomplete higher              16650 non-null  bool
 18  educacao_Lower secondary                16650 non-null  bool
 19  educacao_Secondary / secondary special  16650 non-null  bool
 20  estado_civil_Married                    16650 non-null  bool
 21  estado_civil_Separated                  16650 non-null  bool
 22  estado_civil_Single / not married       16650 non-null  bool
 23  estado_civil_Widow                      16650 non-null  bool
 24  tipo_residencia_House / apartment       16650 non-null  bool
 25  tipo_residencia_Municipal apartment     16650 non-null  bool
 26  tipo_residencia_Office apartment        16650 non-null  bool
 27  tipo_residencia_Rented apartment        16650 non-null  bool
 28  tipo_residencia_With parents            16650 non-null  bool
 29  educacao_Higher education               16650 non-null  bool
 30  educacao_Incomplete higher              16650 non-null  bool
 31  educacao_Lower secondary                16650 non-null  bool
 32  educacao_Secondary / secondary special  16650 non-null  bool
dtypes: bool(22), float64(3), int64(8)
memory usage: 1.7 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [101]:
pd.crosstab(df['possui_email'],df['mau'])

mau           False  True
possui_email
0             14810    360
1              1450     30

In [102]:
pd.crosstab(df['posse_de_veiculo'],df['mau'])

mau               False  True
posse_de_veiculo
0                  9931    247
1                  6329    143

In [ ]:
## Olhando desta forma, houve mais vezes em que não tendo e-mail, ou seja, uma forma a menos de contato, se teve mais pessoas inadimplentes, isso é algo que pode impactar,
## fazendo esta análise.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [106]:
df_encoded.to_csv('base_modulo_7.csv', index=False)