# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = list(range(1900, 2021, 20))
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
serie_anomalias = pd.Series(data=anomalias_termicas, index=ano)
serie_anomalias

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

# seu código aqui
OPS, eu acabei fazendo tudo no código acima, então considerar o mesmo.

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperatura = pd.Series(dic_temperaturas)
serie_temperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [50]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr)
df_arr

             0           1           2
0    95.981740  103.018366  114.214697
1   116.533517  117.566525   99.219141
2   104.927481   95.538635  122.269939
3   102.688029   95.054472  101.185976
4   106.431010  102.125221  107.561186
5   101.343400  102.470993  105.759344
6   108.754167   89.724110  107.692990
7    91.900982  113.353072   94.861156
8   107.550620  100.762235  109.214846
9   119.353879   95.942400  108.662065
10   92.321572  109.909881   90.375175
11  103.780371   82.686047   97.048802
12  116.090711   88.995226   98.041678
13   96.550361  117.292772   95.951828
14   98.100433   94.582647  102.449357
15   97.573420   93.858588  107.730252
16   94.463402   96.429721  111.445375
17  102.996423   80.515273   94.198296
18   95.105243   84.401252   95.080170
19   94.785226  109.190981  101.153993

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [54]:
#seu código aqui
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr, index=range(1, 21, 1), columns = ['x1', 'x2', 'x3'])
df_arr

            x1          x2          x3
1   102.162415   96.652908  102.968834
2   104.821502  120.976408   80.799209
3   108.657045  106.056513  101.279835
4   104.109447   98.550925  127.960195
5    95.782109  105.899336   95.919215
6    77.504105   91.125617  127.367930
7    99.763337  103.948637   94.232893
8    94.459809  104.097648  114.101851
9    97.683964   97.819074   96.377194
10   98.284193   88.429025   87.964801
11  105.049562   85.657880   94.844720
12   96.461884   99.717229   84.337434
13   69.805726   98.443041  107.626668
14   98.262087  102.302265   96.836457
15   89.443935  111.307674   97.166501
16   97.875903  100.123199   93.604731
17  109.732016  108.077578   94.203034
18   99.573168   99.174132  119.715738
19   93.331404  124.184646   85.544040
20  106.106319  105.019161   83.282887

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [68]:
# seu código aqui
df_arr['media'] = (df_arr['x1'] + df_arr['x2'] + df_arr['x3']) / 3
df_arr

            x1          x2          x3       media
1   102.162415   96.652908  102.968834  100.594719
2   104.821502  120.976408   80.799209  102.199040
3   108.657045  106.056513  101.279835  105.331131
4   104.109447   98.550925  127.960195  110.206855
5    95.782109  105.899336   95.919215   99.200220
6    77.504105   91.125617  127.367930   98.665884
7    99.763337  103.948637   94.232893   99.314956
8    94.459809  104.097648  114.101851  104.219769
9    97.683964   97.819074   96.377194   97.293411
10   98.284193   88.429025   87.964801   91.559340
11  105.049562   85.657880   94.844720   95.184054
12   96.461884   99.717229   84.337434   93.505516
13   69.805726   98.443041  107.626668   91.958478
14   98.262087  102.302265   96.836457   99.133603
15   89.443935  111.307674   97.166501   99.306036
16   97.875903  100.123199   93.604731   97.201277
17  109.732016  108.077578   94.203034  104.004209
18   99.573168   99.174132  119.715738  106.154346
19   93.331404  124.184646   85.544040  101.020030
20  106.106319  105.019161   83.282887   98.136122

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [92]:
# seu código aqui
import math as math

df_arr['log_med'] = np.log(df_arr['media'])
df_arr

            x1          x2          x3       media   log_med
1   102.162415   96.652908  102.968834  100.594719  4.611100
2   104.821502  120.976408   80.799209  102.199040  4.626922
3   108.657045  106.056513  101.279835  105.331131  4.657109
4   104.109447   98.550925  127.960195  110.206855  4.702359
5    95.782109  105.899336   95.919215   99.200220  4.597140
6    77.504105   91.125617  127.367930   98.665884  4.591739
7    99.763337  103.948637   94.232893   99.314956  4.598296
8    94.459809  104.097648  114.101851  104.219769  4.646502
9    97.683964   97.819074   96.377194   97.293411  4.577731
10   98.284193   88.429025   87.964801   91.559340  4.516987
11  105.049562   85.657880   94.844720   95.184054  4.555812
12   96.461884   99.717229   84.337434   93.505516  4.538020
13   69.805726   98.443041  107.626668   91.958478  4.521337
14   98.262087  102.302265   96.836457   99.133603  4.596468
15   89.443935  111.307674   97.166501   99.306036  4.598206
16   97.875903  100.123199   93.604731   97.201277  4.576784
17  109.732016  108.077578   94.203034  104.004209  4.644431
18   99.573168   99.174132  119.715738  106.154346  4.664894
19   93.331404  124.184646   85.544040  101.020030  4.615319
20  106.106319  105.019161   83.282887   98.136122  4.586356